html { scroll-behavior: smooth; }
header { padding: 156px 0 100px; }
section { padding: 100px 0; }

/* NAVBAR */

#navbar-toggler-cbox:checked ~ .collapse { display:block; }
#navbarResponsive .active { color: #fff; }

.navbar-brand a { color: ghostwhite; }
span.navbar-brand a:hover { color: rgba(255,255,255,.5); text-decoration: none;}

/* FORMATTING */

.lead {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 0;
}

.franklin-content ul li p { margin: 0; }

/* CODE */

pre { margin-bottom: 0.5em; }
pre code.hljs.plaintext {
	padding-left: 20px;
	margin-bottom: 1em;
}

/* ADD ANY SPECIFIC TWEAKS YOU MIGHT WANT HERE */
